<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create ToDo</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Edit Assignee</h1>
<form action="#" th:action="@{/updateassigneesname/} + *{id}" th:object="${editassignee}" th:method="POST">
    div>
    <label for="title">Assignees name: </label>
    <input id="title" type="text" th:field="*{name}" />
    </div>
    </div>
    <div>
        <input type="submit" class="btn btn-light" value="Submit"/>
        <a class="btn btn-danger" role="button" th:href="@{/assigneeslist}">Cancel</a></div>
    </div>
</form>
</body>
</html>
